*{
    margin:0;
}
body{
    background-color:black;
    text-align: center;
}
div{
    height: 10vmin;
    color: aquamarine;
    
}
h1{
    margin-top:2rem;
    text-align: center;
    color: aquamarine;
}

.container{
    height:70vmin;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width: 60vmin;
    background-color:black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:0.5vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    background-color:rgb(170, 55, 55);
    color:aquamarine;
    font-size: 4rem;
}
.reset{
    height:12vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    background-color:rgb(170, 55, 55);
    color:aquamarine;
    font-size: 1rem;

}
.popup-overlay{
    display: none;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.popup-content {
    width: 20%;
    height: 15%;
    background-color: rgba(0,0,0,0.7);
    color: aquamarine;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.playagain {
    height:5vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    background-color:rgb(170, 55, 55);
    color:aquamarine;
    font-size: 1rem;
}
.winner{
    color:aquamarine;

}
.footer {
    margin-top:2rem;
}

